@keyframes slideDownFade {
    0% {
        opacity: 0;
        transform: translateY(-15vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.header {
    display: flex;
    align-items: center;
    height: 16vh;
    background-color: #4895EF;

    animation: slideDownFade 0.8s ease-out 0.5s forwards;
    opacity: 0;
}

.text {
    font-weight: bold;
    font-size: 10vh;
    color: white;
    font-family: Sans-serif;

    text-align: left;
    margin-left: 10vh;
    margin-top: -0vh;
    cursor: default;
}

.languageSelector {
    position: absolute;
    font-weight: bold;
    font-size: 5vh;
    background-color: white;
    color: black;
    font-family: Sans-serif;

    text-align: left;
    margin-left: 90%;
    margin-top: -0vh;

    width: 6%;
    border-radius: 1vh;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.options {
    background-color: #4361EE;
    font-size: 5vh;
    font-family: Sans-serif;
    display: flex;
    justify-content: right;
    height: 8vh;
    
    animation: slideDownFade 0.8s ease-out 0.5s forwards;
    opacity: 0;
}

.options > div {
    margin-right: 10vh;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-link {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}