.paragraph {
    position: absolute;
    margin-left: 30%;
    margin-top: 3%;

    font-size: 6vh;
    font-family: Sans-serif;
    font-weight: bold;
}

.imgHolder {
    position: absolute;
    width: 20%;
    height: 60vh;
    background-color: white;
    border-radius: 1vh;

    margin-left: 5%;
    margin-top: 3.5%;
}

.myName {
    position: absolute;
    margin-top: 3%;
    margin-left: 30%;

    font-family: Sans-serif;
    font-size: 5vh;
}

.description {
    position: absolute;
    margin-top: 14%;
    margin-left: 30%;
    width: 65%;
    
    font-family: Sans-serif;
    font-size: 3vh;
}